.Modal{
  position:fixed;
  top:10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
}

.Overlay{
  position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

.closeb{
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #DC143C;
  border: black 2px solid;
  padding: 10px 24px;
}

.closeb:hover{
  background-color: green;
}
