.networkCanvas{
  background-color: #FFFFFF;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display:block;
  border: #000000 2px solid;
}
.network{

}

.helpb{
  align-self: flex-end;
  position: absolute;
  right: 2%;
  background-color: lightblue;
}
.helpb:hover {
  background-color: green;
  color:white;
}

.helpbresized{
  flex-basis: 5%;
  padding: 20px 20px;
  background-color: lightblue;
}

.helpbresized:hover{
  background-color: green;
  color:white;
}

.sliders{
  margin-top: 0px;
  background: #787878;
  width:100%;
  flex-basis: 33%;
}

.slider{
  width: 70%;
  margin-left: 7%
}

.sliders2{
  border: #000000 1px solid;
  border-top: 0px;
  margin-top: 0%;
  background: #787878;
  width:100%;
  align-content: center;
  text-align: center;
  align-items: center;
}

.slider2{
  margin-left: 1%;
  margin-top: 0;
  flex-basis: 10%;
}

.label{
  width: 1%;
}

.label2{
  margin-left: 10%;
}

.b{
 margin-top: 0;
 flex-basis: 17%;
 padding: 15px 32px;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 font-size: 20px;
 color:white;
 text-align:center;
 transition: all 0.2s;
 background-color: #e7e7e7;
}

.b:hover {
  background-color: green;
  color:white;
}

.b:disabled{
  background-color: lightgrey;
}

.selectalgo{
  font-size: 100%;
  text-align: center;
  margin-top: 0px;
  border-radius: 0px;
  padding: 20px 32px;
  flex-basis: 17%;
}

.selectalgorow{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  background-color: #787878;
}
