.Attributes{
  margin-bottom: 5%;
  background-color: #787878;
}

.searchbar{
  background-color: #606060;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

p{
  color: white;
  text-align: center;
}

.attributesearch{
  margin-right: 1%;
  color:white;
  text-align: center;
}

label{
  color:white;
}
