.toggle_button{
  margin-top: 20%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height:20px;
  width: 36px;
  border: none;
  background: transparent;
  cursor:pointer;
  padding: 0 0;
  box-sizing: border-box;
}

.toggle_button:focus {
  outline: none;
}

.toggle_button-line{
  width: 30px;
  height: 2px;
  background-color:white;
}

.sidedrawer{
  position:absolute;
  top: 0%;
  left: 0;
  background-color: #606060;
  border: 1px solid white;
  outline: none;
}

.sidedraweroverlay{
  position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

.settings{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.settings a{
  padding-left: 8px;
  padding-right: 20px;
  text-indent: 12px;
  color:white;
  text-decoration: none;
  font-size: 1.5rem;
}

.settings a:hover{
  color:orange;
  text-decoration: none;
  font-size: 1.5rem;
}

.settings button{
  text-indent: 12px;
  color:white;
  text-decoration: none;
  font-size: 1.5rem;
  border: none;
  background-color: Transparent;
  outline: none;
  cursor: pointer;
}

.settings button:hover{
  color:orange;
  text-decoration: none;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
