.toolbar{
  position:fixed;
  top:0%;
  left:0;
  width: 100%;
  background-color: #606060;
}

.toolbar__navigation{
  display:flex;
  height: 100%;
  padding: 0 1rem;
}

.toolbar__logo{
  margin-left: 1rem;
}

.toolbar__logo a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar_navigation-items a {
  color: white;
  text-decoration: none;
}

.toolbar_navigation-items ul{
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
}

.toolbar_navigation-items li{
  padding: 0.5rem;
}

.toolbar_navigation-items a:hover {
  color: orange;
}

.toolbar_navigation-items a:active{
  color: purple;
}


.spacer{
  flex:0.4;
}

.toolbar__search{
  position:absolute;
  right: 5%;

}
.toolbar__search label{
  color:white;
  font-size: 1.4em;
  vertical-align: middle;
}

.toolbar__search input{
  vertical-align: middle;
}
