.networkCanvas{
  margin-top: 2.5rem;
  background-color: #FFFFFF;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display:block;
  border: #000000 2px solid;
}

.animationButtons{
  display: flex;
  justify-content: center;
}

.helpb{
  align-self: flex-end;
  position: absolute;
  right: 2%;
  background-color: lightblue;
}
.helpb:hover {
  background-color: green;
  color:white;
}

.helpbresized{
  flex-basis: 5%;
  padding: 20px 20px;
  background-color: lightblue;
}

.helpbresized:hover{
  background-color: green;
  color:white;
}

.sliders{
  margin-top: 0px;
  background: #787878;
  width:100%;
  flex-basis: 33%;
}

.slider{
  width: 70%;
  margin-left: 7%
}

.sliders2{
  border: #000000 1px solid;
  border-top: 0px;
  margin-top: 0%;
  background: #787878;
  width:100%;
  align-content: center;
  text-align: center;
  align-items: center;
}

.slider2{
  margin-left: 1%;
  margin-top: 0;
  flex-basis: 10%;
}

.label{
  width: 1%;
}

.label2{
  margin-left: 10%;
}

.b{
 margin-top: 1px;
 padding: 15px 32px;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 font-size: 20px;
 color:white;
 transition: all 0.2s;
 background-color: #e7e7e7;
}

.b:hover {
  background-color: green;
  color:white;
}

.b:disabled{
  background-color: lightgrey;
}

.selectContainer{
  display: flex;
  flex-direction: column;
  height:100%;
}

.selectalgorow{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.selectalgo{
  padding: 20px 32px;
}

.sliderHeader{
  text-align: center;
}

.FirstFrameB{
  background-image: url("../src/images/FirstButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}

.FastBackB{
  background-image: url("../src/images/FastBackButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}

.PreviousFrameB{
  background-image: url("../src/images/PreviousFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}
.StartB{
  background-image: url("../src/images/StartButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}

.PauseB{
  background-image: url("../src/images/PauseButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}
.NextFrameB{
  background-image: url("../src/images/NextFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}
.FastForwardB{
  background-image: url("../src/images/FastForwardButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}
.LastFrameB{
  background-image: url("../src/images/LastButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}
.CameraB{
  background-image: url("../src/images/CameraButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
}
