.canvas3d{
  margin-top: 2.5rem;
  background-color: #000000;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display:block;
  border: #ffffff 2px solid;
}

.b{
 margin-top: 1px;
 padding: 15px 32px;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 font-size: 20px;
 color:white;
 transition: all 0.2s;
 background-color: #e7e7e7;
}

.b:hover {
  background-color: green;
  color:white;
}

.b:disabled{
  background-color: lightgrey;
}
