.algorithmsettings{
  position: absolute;
  top:10%;
  left:10%;
  right:10%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #d3d3d3;
  margin-bottom: 5%;
  height:80%;
  overflow: scroll;
}

.algorithmsettingsoverlay{
  position:fixed;
  top:2rem;
  left:0;
  right:0;
  bottom:0;
}
