.networkCanvas{
  margin-top: 2.5rem;
  background-color: #FFFFFF;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display:block;
  border: #000000 2px solid;
}

.animationButtons{
  display: flex;
  justify-content: center;
}

.helpb{
  align-self: flex-end;
  position: absolute;
  right: 2%;
  background-color: lightblue;
}
.helpb:hover {
  background-color: green;
  color:white;
}

.helpbresized{
  flex-basis: 5%;
  padding: 20px 20px;
  background-color: lightblue;
}

.helpbresized:hover{
  background-color: green;
  color:white;
}

.sliders{
  margin-top: 0px;
  background: #787878;
  width:100%;
  flex-basis: 33%;
}

.slider{
  width: 70%;
  margin-left: 7%
}

.sliders2{
  border: #000000 1px solid;
  border-top: 0px;
  margin-top: 0%;
  background: #787878;
  width:100%;
  align-content: center;
  text-align: center;
  align-items: center;
}

.slider2{
  margin-left: 1%;
  margin-top: 0;
  flex-basis: 10%;
}

.label{
  width: 1%;
}

.label2{
  margin-left: 10%;
}

.b{
 margin-top: 1px;
 padding: 15px 32px;
 font-family:'Roboto',sans-serif;
 font-weight:300;
 font-size: 20px;
 color:white;
 transition: all 0.2s;
 background-color: #e7e7e7;
}

.b:hover {
  background-color: green;
  color:white;
}

.b:disabled{
  background-color: lightgrey;
}

.selectContainer{
  display: flex;
  flex-direction: column;
  height:100%;
}

.selectalgorow{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.selectalgo{

}

.sliderHeader{
  text-align: center;
}

.dropdown{
  position:relative;
  display: inline-block;
}

.dropdown-content{
  display:none;
  position:absolute;
  background-color: #f1f1f1;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

.dropdown-content a{
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display:block;}

.aFile{
  text-decoration: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}


.FirstFrameB{
  background-image: url("../src/images/FirstButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
  max-height: 200px;
  max-width: 200px;
}

.FastBackB{
  background-image: url("../src/images/FastBackButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.PreviousFrameB{
  background-image: url("../src/images/PreviousFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.StartB{
  background-image: url("../src/images/StartButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.PauseB{
  background-image: url("../src/images/PauseButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.StopB{
  background: linear-gradient(rgba(255,165,0,0.4),rgba(255,165,0,0.4)),url("../src/images/StopButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.NextFrameB{
  background-image: url("../src/images/NextFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.FastForwardB{
  background-image: url("../src/images/FastForwardButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.LastFrameB{
  background-image: url("../src/images/LastButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.CameraB{
  background-image: url("../src/images/CameraButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.ResetColoringB{
  background-image: url("../src/images/ResetColoring.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.FirstFrameB:disabled{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)),url("../src/images/FirstButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.FastBackB:disabled{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/FastBackButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.PreviousFrameB:disabled{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/PreviousFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.StartB:disabled{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/StartButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}


.StopB:disabled{
  background-image: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)),url("../src/images/StopButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.NextFrameB:disabled{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/NextFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.FastForwardB:disabled{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/FastForwardButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.LastFrameB:disabled{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/LastButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.CameraB:disabled{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/CameraButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.ResetColoringB:disabled{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/ResetColoring.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.FirstFrameB:hover{
  background: linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)), url("../src/images/FirstButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.FastBackB:hover{
  background: linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/FastBackButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.PreviousFrameB:hover{
  background: linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/PreviousFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.StartB:hover{
  background: linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/StartButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.PauseB:hover{
  background:linear-gradient(rgba(200,165,0,0.7), rgba(200,65,0,0.7)), url("../src/images/PauseButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.StopB:hover{
  background-image: linear-gradient(rgba(255,0,0,0.7), rgba(200,0,0,0.7)),url("../src/images/StopButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.NextFrameB:hover{
  background: linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/NextFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.FastForwardB:hover{
  background: linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/FastForwardButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.LastFrameB:hover{
  background: linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/LastButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.CameraB:hover{
  background: linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/CameraButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.ResetColoringB:hover{
  background: linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/ResetColoring.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.FirstFrameB:disabled:hover{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)),url("../src/images/FirstButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.FastBackB:disabled:hover{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/FastBackButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.PreviousFrameB:disabled:hover{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/PreviousFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.StartB:disabled:hover{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/StartButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.StopB:disabled:hover{
  background-image: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)),url("../src/images/StopButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}


.NextFrameB:disabled:hover{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/NextFrameButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.FastForwardB:disabled:hover{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/FastForwardButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.LastFrameB:disabled:hover{
  background:linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/LastButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}
.CameraB:disabled:hover{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/CameraButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.ResetColoringB:disabled:hover{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/ResetColoring.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.AlgoB:disabled:hover{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/AlgorithmSettings.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.AlgoB:disabled{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/AlgorithmSettings.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.AlgoB{
  background:url("../src/images/AlgorithmSettings.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.AlgoB:hover{
  background:linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/AlgorithmSettings.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.generalB:disabled:hover{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/GeneralSettings.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.generalB:disabled{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/GeneralSettings.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.generalB{
  background:url("../src/images/GeneralSettings.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.generalB:hover{
  background:linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/GeneralSettings.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.resetB:disabled:hover{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/ResetButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.resetB:disabled{
  background: linear-gradient(rgba(211,211,211,0.7), rgba(211,211,211,0.5)), url("../src/images/ResetButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.resetB{
  background:url("../src/images/ResetButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.resetB:hover{
  background:linear-gradient(rgba(0,255,0,0.7), rgba(0,100,0,0.7)),url("../src/images/ResetButton.png");
  background-size: 50px 50px;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  outline: none;
}

.saveB{
  background: url("../src/images/SaveButton.png");
  border: 1px solid black;
  outline: none;
  max-height: 100px;
  max-width: 100px;
}

.saveB:hover{
  background: linear-gradient(rgba(0,255,0,0.7),rgba(0,165,0,0.7)),url("../src/images/SaveButton.png");
  border: 1px solid black;
  outline: none;
  max-height: 100px;
  max-width: 100px;
}

.saveB:disabled{
  background: linear-gradient(rgba(211,211,211,0.7),rgba(211,211,211,0.7)),url("../src/images/SaveButton.png");
  border: 1px solid black;
  outline: none;
  max-height: 100px;
  max-width: 100px;
}

.saveB:disabled:hover{
  background: linear-gradient(rgba(211,211,211,0.7),rgba(211,211,211,0.7)),url("../src/images/SaveButton.png");
  border: 1px solid black;
  outline: none;
  max-height: 100px;
  max-width: 100px;
}
