.algorithmsettings{
  position: absolute;
  top:60%;
  left:0%;
  right:0%;
  bottom:0%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #787878;
  overflow: scroll;
}

.algorithmsettingsoverlay{
  position:fixed;
  top:2rem;
  left:0;
  right:0;
  bottom:0;
}
