.Modal{
  position: fixed;
  background-color: #FFFFFF;
  left:10%;
  right: 10%;
  top: 10%;
  bottom:10%;

}

.Overlay{
  position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}

.closeb{
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #DC143C;
  border: black 2px solid;
  padding: 10px 24px;
}

.closeb:hover{
  background-color: green;
}

.nextb{
  position: absolute;
  right:40%;
  margin-bottom: 5%;
}

.previousb{
  position:absolute;
  left: 40%;
  margin-bottom: 5%;
}

.tutorialimage{
  height:170px;
  width:auto;
  border: black 1px solid;
}
